.pic-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn;
  animation-duration: 3s;
  background-image: url(https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg);
}
